/* fonts */
@font-face {
  font-family: "MarvinVisions";
  src: url("fonts/MarvinBRUSH.woff") format("woff"),
    url("fonts/MarvinBRUSH.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("fonts/AvenirNextCyr-Medium.woff") format("woff"),
    url("fonts/AvenirNextCyr-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("fonts/AvenirNextCyr-Bold.woff") format("woff"),
    url("fonts/AvenirNextCyr-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

/* page styles */
.certificate__page {
  margin: 0;
  padding: 0;
	font-family: AvenirNextCyr, sans-serif;
	font-size: 14px;
	line-height: 1;
	background-color: #008184;
	color: #fff;
}

.certificate__container {
	max-width: 1106px;
	margin: 0 auto;
	padding: 0 10px;
}

.certificate__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	margin-bottom: 74px;
}

.certificate__header p {
	margin: 0;
}

.certificate__link {
	color: inherit;
}

.certificate__input {
	width: 50px;
}

.certificate__wrapper {
	border: 3px solid #fff;
}

.certificate__wrapper img {
	display: block;
	width: 100%;
	height: auto;
}

.certificate__main {
	position: absolute;
	top: -5000px;
	box-sizing: border-box;	
	font-weight: bold;
	background-color: #008184;
	background-image: url(img/stamp-light-ru.png);
	background-repeat: no-repeat;
	background-position: 2550px 1458px;
	color: #fff;	
	overflow: hidden;
}

.certificate__main_format_A4 {
	width: 3508px;
	height: 2480px;
	padding: 177px 340px 106px;
}

.text {
	margin-top: 0;
	margin-bottom: 0.9em;
	font-size: 59px;
	line-height: 72px;
	font-weight: 500;
}

.text_no-margin {
	margin-bottom: 0;
}

.text_font_marvin {
	font-family: "MarvinVisions", sans-serif;
}

.text_size_middle {
	margin-bottom: 0.38em;
	font-size: 141px;
	line-height: 170px;
}

.text_size_big {
	min-height: 505px;
	margin-bottom: 0.4em;
	font-size: 212px;
	line-height: 255px;
}

.text_size_small {
	margin-bottom: 0;
	font-size: 35px;
	line-height: 43px;
}

.text_align_center {
	text-align: center;
}

.text_color_primary {
	color: #ffd420;
}

.text_weight_bold {
	font-weight: bold;
}

.text_color_secondary {
	color: #fff;
}

.certificate__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;	
}

.certificate__title::before,
.certificate__title::after {
	content: "";
	height: 12px;
	width: 885px;
	background-color: #fff;
}

.certificate__main_format_A4 .certificate__title {
	margin-bottom: 11px;
	font-size: 106px;
	line-height: 128px;
}

.certificate__number {
	margin-bottom: 1.6em;
	text-align: center;
	font-size: 70px;
	line-height: 87px;
	font-weight: bold;
}

.certificate__group {
	margin-top: 88px;
	margin-bottom: 88px;
	padding-top: 95px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background: url("data:image/svg+xml,%3Csvg width='237' height='305' viewBox='0 0 237 305' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='118.453' cy='118.429' r='112.19' stroke='white' stroke-width='11.8095'/%3E%3Cpath d='M53.5 212.905V295.571L118.452 266.048L183.405 295.571V212.905' stroke='white' stroke-width='11.8095'/%3E%3Cpath d='M118.453 60.9136L135.718 95.8958L137.092 98.6796L140.164 99.126L178.769 104.736L150.834 131.965L148.611 134.132L149.136 137.192L155.731 175.641L121.201 157.488L118.453 156.043L115.706 157.488L81.1761 175.641L87.7706 137.192L88.2954 134.132L86.0725 131.965L58.1375 104.736L96.7426 99.126L99.8147 98.6796L101.189 95.8958L118.453 60.9136Z' stroke='white' stroke-width='11.8095'/%3E%3C/svg%3E") no-repeat top center;
}

.certificate__director {
	margin-right: 270px;
	margin-bottom: 0;
}

.certificate__domain {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1180px;
	margin: 0 auto 0.4em;
	text-align: center;	
	text-transform: uppercase;
	font-weight: bold;
}

.certificate__domain::before,
.certificate__domain::after {
	content: "";
	height: 6px;
	width: 295px;
	background-color: #fff;
}

/* dark theme */
.certificate__page_theme_dark,
.certificate__page_theme_dark .certificate__main {
	background-color: #1e1e1e;
}

.certificate__page_theme_dark .text_color_secondary {
	color: #e74769;
}

/* light theme */
.certificate__page_theme_light,
.certificate__page_theme_light .certificate__main {
	background-color: #fff;
	color: #000;
}

.certificate__page_theme_light .text_color_primary {
	color: #a33b42;
}

.certificate__page_theme_light .text_color_secondary {
	color: rgba(0, 0, 0, 0.5);
}

.certificate__page_theme_light .certificate__title::before,
.certificate__page_theme_light .certificate__title::after {
	background-color: #000;
}

.certificate__page_theme_light .certificate__group {
	background-image: url("data:image/svg+xml,%3Csvg width='237' height='305' viewBox='0 0 237 305' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='118.453' cy='118.429' r='112.19' stroke='black' stroke-width='11.8095'/%3E%3Cpath d='M53.5 212.905V295.571L118.452 266.048L183.405 295.571V212.905' stroke='black' stroke-width='11.8095'/%3E%3Cpath d='M118.453 60.9136L135.718 95.8958L137.092 98.6796L140.164 99.126L178.769 104.736L150.834 131.965L148.611 134.132L149.136 137.192L155.731 175.641L121.201 157.488L118.453 156.043L115.706 157.488L81.1761 175.641L87.7706 137.192L88.2954 134.132L86.0725 131.965L58.1375 104.736L96.7426 99.126L99.8147 98.6796L101.189 95.8958L118.453 60.9136Z' stroke='black' stroke-width='11.8095'/%3E%3C/svg%3E");
}

.certificate__page_theme_light .certificate__domain::before,
.certificate__page_theme_light .certificate__domain::after {
	background-color: #000;
}

/* format A4 */


/* format A5 */