/* fonts */
@font-face {
  font-family: "MarvinVisions";
  src: url("fonts/MarvinBRUSH.woff") format("woff"),
    url("fonts/MarvinBRUSH.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("fonts/AvenirNextCyr-Medium.woff") format("woff"),
    url("fonts/AvenirNextCyr-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("fonts/AvenirNextCyr-Bold.woff") format("woff"),
    url("fonts/AvenirNextCyr-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

/* ui-autocomplete */
.ui-menu {
	background-color: inherit;
}

/* page styles */
.certificate__page {
  margin: 0;
  padding: 0;
	font-family: AvenirNextCyr, sans-serif;
	font-size: 16px;
	line-height: 20px;
	background-color: #008184;
	color: #fff;
}

.certificate__container {
	max-width: 1106px;
	margin: 0 auto;
	padding: 0 10px;
}

.certificate__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	box-sizing: border-box;
	max-width: 888px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 35px;
}

.certificate__header p {
	margin: 0;
}

.certificate__link,
.certificate__button {	
	display: block;
	min-width: 140px;
	box-sizing: border-box;
	border-radius: 16px;
	padding: 9px 5px;
	font-family: inherit;
	font-weight: 500;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	outline: none;
}

.certificate__link {
	text-decoration: none;
	background-color: #eee;
	color: #666;
	cursor: default;
	user-select: none;
}

.certificate__link[href] {
	user-select: auto;
	background-color: #ffd420;
	color: #000;
	cursor: pointer;
}

.certificate__link[href]:hover,
.certificate__link[href]:focus {
	background-color: #ffe166;
}

.certificate__button {
	-webkit-appearance: none;
	background-color: #ffd420;
	color: #000;
	border: none;

}

.certificate__button:hover,
.certificate__button:focus {
	background-color: #ffe166;
}

.certificate__button[disabled] {
	background-color: #eee;
	color: #666;
}

.certificate__button:first-child {
	margin-bottom: 15px;
}

.certificate__input {
	display: block;
	width: 100%;
	border-radius: 0;
	appearance: none;
	-webkit-appearance: none;
	margin-top: 14px;
	padding-top: 9px;
	padding-bottom: 0;
	border-top: 3px solid;
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
	background-color: transparent;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	outline: none;
}

.certificate__input::placeholder {
	color: #bbb;
}

.certificate__fieldset {
	margin: 0 10px 25px 0;
	padding: 0;
	border: 0;
}

.certificate__fieldset hr {
	margin-top: 14px;
	margin-bottom: 9px;
	height: 0;
	color: inherit;
	border-top: 3px solid;
	border-right: 0;
	border-bottom: 0;
	border-left: 0;
}

.certificate__label {
	flex: 0 0 56px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-transform: uppercase;
}

.certificate__radiobutton {
	margin: 0;
	appearance: none;
	-webkit-appearance: none;
	background: none;
	border: none;
	outline: none;
}

.certificate__radiobutton::before {
	display: block;
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
}

.certificate__radiobutton:checked::before {
	background-color: #fff;
}

.certificate__fieldset_type_name {
	flex: 0 1 300px;
}

.certificate__fieldset_type_number {
	flex: 0 1 160px;
}

.certificate__fieldset_type_lang {
	flex: 0 0 56px;
}

.certificate__fieldset_type_format {
	flex: 0 0 40px;
}

.certificate__wrapper {
	border: 3px solid #fff;
}

.certificate__wrapper img {
	display: block;
	width: 100%;
	height: auto;
}

.certificate__button-group {
	display: flex;
	margin-bottom: 25px;
}

.certificate__main {
	position: absolute;
	top: -5000px;
	box-sizing: border-box;	
	font-weight: bold;
	background-color: #008184;
	background-image: url(img/stamp-light-ru.png);
	background-repeat: no-repeat;
	background-position: 2550px 1458px;
	color: #fff;	
	overflow: hidden;
}

.certificate__main_format_A4 {
	width: 3508px;
	height: 2480px;
	padding: 177px 340px 106px;
}

.text {
	margin-top: 0;
	margin-bottom: 0.9em;
	font-size: 59px;
	line-height: 72px;
	font-weight: 500;
}

.text_no-margin {
	margin-bottom: 0;
}

.text_font_marvin {
	font-family: "MarvinVisions", sans-serif;
}

.text_size_middle {
	margin-bottom: 0.38em;
	font-size: 141px;
	line-height: 170px;
}

.text_size_big {
	min-height: 505px;
	margin-bottom: 0.4em;
	font-size: 212px;
	line-height: 255px;
}

.text_size_small {
	margin-bottom: 0;
	font-size: 35px;
	line-height: 43px;
}

.text_align_center {
	text-align: center;
}

.text_color_primary {
	color: #ffd420;
}

.text_weight_bold {
	font-weight: bold;
}

.text_color_secondary {
	color: #fff;
}

.certificate__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;	
}

.certificate__title::before,
.certificate__title::after {
	content: "";
	height: 12px;
	width: 885px;
	background-color: #fff;
}

.certificate__main_format_A4 .certificate__title {
	margin-bottom: 11px;
	font-size: 106px;
	line-height: 128px;
}

.certificate__number {
	margin-bottom: 1.6em;
	text-align: center;
	font-size: 70px;
	line-height: 87px;
	font-weight: bold;
}

.certificate__group {
	margin-top: 88px;
	margin-bottom: 88px;
	padding-top: 95px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background: url(img/icon-light.png) no-repeat top center;
}

.certificate__director {
	margin-right: 270px;
	margin-bottom: 0;
}

.certificate__domain {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1180px;
	margin: 0 auto 0.4em;
	text-align: center;	
	text-transform: uppercase;
	font-weight: bold;
}

.certificate__domain::before,
.certificate__domain::after {
	content: "";
	height: 6px;
	width: 295px;
	background-color: #fff;
}

/* dark theme */
.certificate__page_theme_dark,
.certificate__page_theme_dark .certificate__main {
	background-color: #1e1e1e;
}

.certificate__page_theme_dark .text_color_secondary {
	color: #e74769;
}

/* light theme */
.certificate__page_theme_light .certificate__wrapper {
	border-color: #000;
}

.certificate__page_theme_light .certificate__radiobutton:checked::before {
	background-color: #000;
}

.certificate__page_theme_light,
.certificate__page_theme_light .certificate__main {
	background-color: #fff;
	color: #000;
}

.certificate__page_theme_light .certificate__main {
	background-image: url(img/stamp-dark-ru.png);
}

.certificate__page_theme_light .text_color_primary {
	color: #a33b42;
}

.certificate__page_theme_light .text_color_secondary {
	color: rgba(0, 0, 0, 0.5);
}

.certificate__page_theme_light .certificate__title::before,
.certificate__page_theme_light .certificate__title::after {
	background-color: #000;
}

.certificate__page_theme_light .certificate__group {
	background-image: url(img/icon-dark.png);
}

.certificate__page_theme_light .certificate__domain::before,
.certificate__page_theme_light .certificate__domain::after {
	background-color: #000;
}

/* format A4 */


/* format A5 */

@media (max-width: 800px) {
	.certificate__page {
		/* font-size: 12px;
		line-height: 15px; */
	}

	.certificate__header  {
		padding-bottom: 15px;
	}

	.certificate__link,
	.certificate__button {	
		min-width: 100px;
		/* font-size: 9px;
		line-height: 11px; */
	}

	.certificate__button:first-child {
		margin-bottom: 10px;
	}

	.certificate__radiobutton::before {
		width: 6px;
		height: 6px;
	}

	.certificate__fieldset_type_name {
		flex: 0 1 220px;
	}
	
	.certificate__fieldset_type_number {
		flex: 0 1 120px;
	}
	
	.certificate__fieldset_type_lang {
		flex: 0 0 40px;
	}
	
	.certificate__fieldset_type_format {
		flex: 0 0 30px;
	}
}
